* {
  box-sizing: border-box;
  line-height: 1.3;
}

html {
  min-height: 100%;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Oswald', Courier, monospace;
  overflow-x: hidden;
}

app-root,
app-root router-outflex+* {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}