header {
  background-color: var(--color-black-800);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  
  .header {
    position: relative;
    width: 100%;
  }
  
  .logo {
    width: 80px;
  }
  
  a {
    text-decoration: none;
    color: var(--color-black-800);
    font-size: 22px;
  }
}

.active {
  font-weight: bold;
  background-color: var(--color-white);
}

.hamburgerIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease;
}

.hamburgerIcon span {
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease;
}

.nav {
  display: flex;
}

.nav ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  .hamburgerIcon {
    display: flex;
  }
  
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
  
  .nav.open {
    display: flex;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    background-color: var(--color-gray-200);
  }
  
  .nav ul li {
    text-align: center;
    padding: 10px 0;
  }
  
  .hamburgerIcon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .hamburgerIcon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburgerIcon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}

@media (min-width: 769px) {
  
  .header {
    max-width: 1150px;
    
    .logo {
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .active {
      background-color: var(--color-red-400);
      border-radius: 10px;
    }
    
    a {
      color: var(--color-white);
      font-size: 18px;
      margin-right: 5px;
      margin-left: 5px;
      
      img {
        width: 28px;
      }
    }
    
    .menuDesktop {
      min-width: 400px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      > :first-child {
        margin-right: 60px;
      }
      
      ul {
        display: flex;
        
        li {
          padding: 5px;
          text-transform: uppercase;
        }
      }
    }
  }
}