footer {
  text-align: center;
  background-color: var(--color-bege-400);
  font-size: 22px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid black;

  
  img {
    width: 180px;
  }
  
  span {
    font-weight: 600;
  }
  
  a {
    color: var(--color-black-400);
    text-decoration: none;
    cursor: pointer;
    
    div p {
      font-size: 14px;
      text-align: start;
    }
    
    img {
      width: 40px;
    }
  }
  
  div p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    text-align: start;
    
    .address {
      display: flex;
      justify-content: space-between;
    }
    
    .rights {
      margin-top: 1rem;
      display: flex;
      justify-content: center;

      a {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: center;
  }

  .address {
    width: 954px;
    display: flex;
    justify-content: space-between;
  }
}